---
- name: Installer les dépendances
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Ajouter la clé GPG officielle de Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Ajouter le dépôt Docker
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable"
    state: present
    filename: docker

- name: Mettre à jour les paquets
  apt:
    update_cache: yes

- name: Installer Docker
  apt:
    name: "{{ docker_packages }}"
    state: present

- name: Démarrer et activer Docker
  service:
    name: docker
    state: started
    enabled: true
