apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-service-node
  labels:
    app: deployment-service-node
spec:
  replicas: 2
  selector:
    matchLabels:
      app: deployment-service-node
  template:
    metadata:
      labels:
        app: deployment-service-node
    spec:
      containers:
        - name: login-container
          image: hamidbong/service-node:{{BUILD_NUMBER}}
          ports:
            - containerPort: 5001
          readinessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 10
            periodSeconds: 10

